<%- include("head.partial.ejs") %>
    <h1><%= title %></h1>
    <ul>
      <% objects.forEach(obj => { %>
        <li>
          <a href="/<%= obj.id %>"><%= obj.name %></a>
        </li>
      <% }) %>
    </ul>

    <%- include("forms/formularz.ejs") %>

<%- include("foot.partial.ejs") %>